{% trans_default_domain 'FOSUserBundle' %}
 <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

<div class="fos_user_user_show wrap-input100">

                       <input class="input100" type="text" id="username" name="_username" value="{{ user.username }}" required="required" disabled="true" autocomplete="username" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                   
                   </div>
<div class="fos_user_user_show wrap-input100">
<input class="input100" type="text" id="username" name="_username" value="{{ user.email  }}" required="required" autocomplete="username" disabled="true" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
 </div>
</div>
 </div>