<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}shahroze nawaz!{% endblock %}</title>
        {% block stylesheets %}
       {% endblock %}


    </head>
    <body>






    {% block body %}

    {% if is_granted ('ROLE_ADMIN') %}
    <h1> ROLE ADMIN </h1>
    {% elseif is_granted ('ROLE_USER')%}
        <h1> ROLE user </h1>
    {% endif %}
    {% endblock %}





      {% block javascripts %}
        {% endblock %}
    </body>
</html>
